/* ESTILIZAÇÃO GERAL */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* CARDS DE INICIO */

.card-container {
    display: flex;
    flex-direction: column;
    gap: 70px; /* Espaçamento vertical entre os cards */
    width: 90%;
    max-width: 500px;
    padding: 20px;
    padding-bottom: 90px; /* Espaçamento adicional no fundo para melhor visualização do último card */
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px;
    perspective: 1000px; /* Remove distortions */
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform-origin: center center; /* Mantém o card no centro ao girar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.flip-card-front {
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#card-boo {
    background-image: url('../imgs/mobilidade1.jpg'); /* Caminho ajustado */
}

#card-media {
    background-image: url('../imgs/mobilidade2.jpg'); /* Caminho ajustado */
}

#card-critica {
    background-image: url('../imgs/mobilidade3.jpg'); /* Caminho ajustado */
}

.flip-card-back {
    background-color: rgba(0, 0, 0, 0.8);
    transform: rotateY(180deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* FIM DE CARDS DE INICIO */

.logo {
    width: 25%;
    height: 25%;
    margin-left: 10px; /* Espaço entre a imagem e o texto */
    margin-bottom: 15px;
}

.VidaFlex {
    display: flex;
    align-items: center; /* Alinha o logo e o texto verticalmente */
    position: relative; /* Necessário para posicionar o botão login */
    color: #1d1149;
    margin-bottom: -68px; /* Remove margem inferior adicional */
    border-bottom: 4px solid #058275;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.093);
}


h2 {
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
}

p {
    text-align: center;
    font-size: 0.9em;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: translateY(-3px);
}

/* Efeito de animação para a frase */
.impact-phrase {
    text-align: center;
    font-size: 0.9em;
    margin: 10px 0;
    margin-top: 25px;
    color: teal;
    margin-bottom: -5px;
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(-20px); /* Posiciona a frase acima do h1 */
    transition: opacity 3s ease, transform 1.5s ease; /* Aumenta o tempo da transição para 2 segundos */
}

/* Classe que dispara a animação */
.impact-phrase.show {
    opacity: 1; /* A frase se torna visível */
    transform: translateY(0); /* A frase desliza para sua posição original */
}


.welcome-container {
    display: flex;
    justify-content: space-between; /* Espaço entre a saudação e o botão de logout */
    align-items: center;
    margin: 20px 0;
    margin-top: -45px;
    margin-bottom: -18px;
    padding: 10px 20px;
    background-color: #f4f7f8; /* Fundo suave */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#boas-vindas {
    font-size: 18px;
    color: #333;
    margin: 0;
}

#logout-button {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background-color: #058275; /* Cor do botão */
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#logout-button:hover {
    background-color: #046a60; /* Cor ao passar o mouse */
}

.login-button {
    position: absolute; /* Posiciona o botão no canto direito */
    right: 30px; /* Alinha o botão à direita */
    top: 43%; /* Centraliza o botão verticalmente */
    transform: translateY(-50%); /* Ajusta a posição vertical */
    background-color: #058275; /* Cor de fundo do botão */
    color: #fff; /* Cor do ícone */
    border: none;
    border-radius: 50%; /* Torna o botão arredondado */
    padding: 10px; /* Espaçamento interno */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s; /* Adiciona uma transição suave para a transformação */
}

.login-button i {
    font-size: 16px; /* Tamanho do ícone */
}

.login-button:hover {
    background-color: #045f5a; /* Cor do botão ao passar o mouse */
    transform: translateY(-60%); /* Move o botão suavemente para cima ao passar o mouse */
}

.tooltip-text {
    visibility: hidden; /* Tooltip invisível por padrão */
    width: 100px; /* Largura do tooltip */
    background-color: #069790; /* Cor de fundo do tooltip */
    color: #fff; /* Cor do texto do tooltip */
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%; /* Posição do tooltip acima do botão */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Invisível inicialmente */
    transition: opacity 0.3s; /* Transição suave para o aparecimento */
}

.tooltip-text::after {
    content: ''; /* Seta que indica o tooltip */
    position: absolute;
    top: 100%; /* Posiciona a seta abaixo do tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px; /* Tamanho da seta */
    border-style: solid;
    border-color: #069790 transparent transparent transparent; /* Define a cor da seta e torna os lados transparentes */
}

.login-button:hover .tooltip-text {
    visibility: visible; /* Torna o tooltip visível ao passar o mouse */
    opacity: 1; /* Mostra o tooltip com transição suave */
}

/* BOTÃO DE INICIAR EXERCICIO ABAIXO */
.iniciar {
    background-color: rgb(94, 206, 94);
    color: #fff;
}

.iniciar:hover {
    background-color: rgb(67, 153, 67);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s;
}

.close-button:hover {
    background-color: rgba(255, 255, 255, 0.308);
    transform: scale(1.1);
}

/* Estilos gerais para a .profile-button */
.profile-button {
    position: absolute;
    right: 37px;
    top: 43%;
    transform: translateY(-50%);
    background-color: #058275;
    color: #fff;
    border: none;
    border-radius: 50%; /* Torna o botão redondo */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s;
}

.profile-button i {
    display: flex; /* Usando Flexbox */
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center; /* Centraliza o ícone verticalmente */
    font-size: 16px;
}

/* Efeito hover */
.profile-button:hover {
    background-color: #046a60;
    transform: translateY(-60%);
}

/* Tooltip da .profile-button */
.profile-button .tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: #069790;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%; /* Posição do tooltip acima do botão */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.profile-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .profile-button {
        right: 20px;
        top: 40px;
        width: 35px;  /* Diminui o tamanho do botão */
        height: 35px; /* Deixa o botão mais compacto */
        padding: 5px; /* Reduz o padding para deixar o ícone centralizado */
        border-radius: 50%; /* Mantém o botão arredondado */
    }

    .profile-button i {
        display: flex; /* Usando Flexbox */
        justify-content: center; /* Centraliza o ícone horizontalmente */
        align-items: center; /* Centraliza o ícone verticalmente */
        font-size: 15px; /* Ajusta o tamanho do ícone para se adaptar ao botão menor */
        
    }

    .profile-button .tooltip-text {
        width: 70px; /* Ajusta a largura do tooltip */
        padding: 3px 0;
    }
}


@media (max-width: 480px) {
    .profile-button {
        right: 17px;
        top: 27px;
        width: 30px; /* Botão menor para celulares */
        height: 30px;
        padding: 5px; /* Menor padding para manter o equilíbrio */
    }

    .profile-button i {
        display: flex; /* Usando Flexbox */
        justify-content: center; /* Centraliza o ícone horizontalmente */
        align-items: center; /* Centraliza o ícone verticalmente */
        font-size: 14px; /* Ajusta ainda mais o ícone */
    }

    .profile-button .tooltip-text {
        display: none; /* Esconder o tooltip em telas muito pequenas para evitar interferência */
    }
}

/* RESPONSIVIDADE DE INICIO */
@media (max-width: 768px) {
    .card-container {
        gap: 60px; /* Reduz o espaçamento entre os cards em telas menores */
        width: 85%;
        padding: 10px;
        padding-bottom: 100px; /* Espaçamento adicional no fundo para melhor visualização do último card */
    }

    .flip-card {
        height: 180px; /* Reduz a altura dos cards em telas menores */
    }

    .login-button {
        right: 24px; /* Ajusta a posição para telas menores */
        padding: 9px; /* Reduz o tamanho do botão */
    }

    .login-button i {
        font-size: 14px; /* Diminui o ícone para manter a proporção */
    }

    .tooltip-text {
        width: 80px; /* Ajusta a largura do tooltip */
        padding: 4px 0; /* Ajusta o padding para telas menores */
        font-size: 12px; /* Ajusta o tamanho da fonte para ser mais legível */
    }
    
    .tooltip-text::after {
        border-width: 4px; /* Ajusta o tamanho da seta para telas menores */
    }

    .welcome-container {
        flex-direction: column; /* Alinha os elementos em coluna */
        gap: 10px; /* Adiciona espaço entre os elementos */
        padding: 15px; /* Aumenta o padding para um visual mais espaçoso */
        text-align: center; /* Centraliza o texto */
    }

    #boas-vindas {
        font-size: 16px; /* Ajusta o tamanho da fonte para telas menores */
    }

    #logout-button {
        width: 85%; /* Botão ocupa toda a largura disponível */
        font-size: 15px; /* Ajusta o tamanho da fonte do botão */
    }

    .VidaFlex {
        font-size: 28px; 
        margin-bottom: -45px; /* Ajuste do espaçamento entre o título e o hr */
    }


    .logo {
        width: 20%; 
        height: 20%;
        margin-bottom: 14px;
    }

    h2 {
        font-size: 1em; 
    }

    p{
        font-size: 0.8em; 
    }

    
    .impact-phrase{
        font-size: 0.9em; 
        margin-bottom: 12px;
    }


    button {
        padding: 8px 16px; /* Ajusta o tamanho dos botões */
        font-size: 0.9em; 
    }
}

@media (max-width: 480px) {
    .card-container {
        gap: 60px; /* Reduz ainda mais o espaçamento entre os cards */
        width: 80%;
        padding: 5px;
        padding-bottom: 100px; /* Espaçamento adicional no fundo para melhor visualização do último card */
    }

    .flip-card {
        height: 150px; /* Reduz a altura dos cards para dispositivos muito pequenos */
    }

    .login-button {
        top: 38%;
        right: 15px; /* Ajusta a posição para dispositivos muito pequenos */
        padding: 8.5px 10px; /* Reduz ainda mais o tamanho do botão */
        font-size: 14px;
    }

    .login-button i {
        font-size: 13px; /* Diminui o ícone para se ajustar melhor */
    }

    .tooltip-text {
        display: none; /* Esconde o tooltip em telas muito pequenas */
    }

    .welcome-container {
        padding: 10px; /* Reduz o padding para telas muito pequenas */
        gap: 8px; /* Reduz o espaçamento entre os elementos */
    }

    #boas-vindas {
        font-size: 16px; /* Ajusta o tamanho da fonte para smartphones */
    }

    #logout-button {
        padding: 10px; /* Ajusta o padding do botão para um visual mais confortável */
        font-size: 14px; /* Mantém o botão legível em telas pequenas */
    }

    .VidaFlex {
        font-size: 25px; 
        margin-bottom: -65px; /* Ajuste do espaçamento entre o título e o hr */
    }

    .logo {
        width: 20%; 
        height: 20%;
    }

    h2 {
        font-size: 0.9em; 
    }

    p {
        font-size: 0.8em; 
    }

    button {
        padding: 6px 12px; /* Ajusta o tamanho dos botões para dispositivos pequenos */
        font-size: 0.8em; 
    }
}

 /* Quando o usuário não estiver logado */
 @media (max-width: 480px) {
    .impact-phrase {
        font-size: 0.8em;
        margin-bottom: -10px;
    }
}

/* Quando o usuário estiver logado (aplicando a classe logged-in) */
@media (max-width: 480px) {
    .impact-phrase.logged-in {
        font-size: 0.8em;
        margin-bottom: 12px;
    }
}